#about-me {
	padding: 80px 0px;
	border-bottom: 1px solid #ddd;

	.tittle {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		.about-tittle {
			padding-bottom: 30px;
			position: relative;

			::after {
				content: "";
				position: absolute;
				top: 50px;
				left: 15px;
				width: 60px;
				height: 1px;
				background-color: #777;
			}

			h1 {
				color: #777;
				font-weight: 100;
				padding-bottom: 15px;

				span {
					color: black;
					font-weight: 700;
				}
			}
		}

		.short-context {
			width: calc(100%/12*12);
			text-align: center;
			color: #777;
			font-weight: 100;
		}
	}

	.about-context-flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding-top: 50px;

		img {
			min-width: 328px;
			min-height: 235px;
		}

		.context {
			max-width: calc(100%/12*6);
			height: 340px;
			padding: 30px;

			h2 {
				color: #777;
				font-weight: 100;
				padding-bottom: 15px;

				span {
					color: black;
					font-weight: 700;
				}
			}

			p {
				font-family: 'Raleway', sans-serif;
				color: #777;
				width: 100%;
				font-size: 15px;
				line-height: 1.7;
				font-weight: 100;
				overflow: hidden;
				margin-bottom: 25px;
			}

			a {
				background-color: #333;
				color: white;
				text-decoration: none;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 14px;
				padding: 10px 25px;
			}

			a:hover {
				transition: .5s;
				background-color: #777;
			}
		}
	}
}
